@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
    margin: 2px;
}